@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,600&family=Raleway:wght@600&display=swap');

* {
    box-sizing: border-box;
    margin:0;
    padding:0;
}

html {
    height:100%
}

body {
    min-height: 100%;
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    margin: 0;
    padding-right: 30px;
    font-weight: 600;
    color: #fff;
    align-items: center;
    position: relative;
    background: radial-gradient(circle at top, #0000FF,  #00008B);
}

.container {
    align-items: center;
}

img {
    max-width: 100%;
}

button {
    color: #fff;
    background-color: #ff0000;
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
}

button:hover {
    background-color: #006600;
}

button:focus, button:active {
    outline: 0;
}

.row {
    display: flex;
    flex-flow: row nowrap;
}

.column {
    display: flex;
    flex-flow: column nowrap;
}

.game-answers {
    display: none !important;
}

/*Heading*/

.heading {
    width: 100%;
    max-width: 600px;
    justify-content: space-between;
    padding: 20px;
    margin-bottom: 50px;
    border-radius: 20px;
    border: #006600
}

.heading ul {
    padding: 0;
    font-size: 30px;
    list-style: none;
    margin-top: 4px;
    line-height: 1;
}

.points {
    letter-spacing: 2px;
    padding-top: 20px;
    width: 200px;
    align-items: center;
    height: 140px;
    background: #00FFFF;
    border-radius: 15px;
}

.points-heading {
    letter-spacing: 2px;
    font-size: 200%;
    color:#00008B;
    font-weight: 600;
    margin-bottom: 5px;
    
}

.points-counter {
    color: #00008B;
    font-weight: 800;
    font-size: 400%;
    margin-bottom: 20px;
}

/* Game options */
.game-options {
    width: 100%;
    position: relative;
    height: 500px;
    max-width: 600px;
    background-size: 400px;
    
}

.option {
    display: flex;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    align-items: center;
    position: absolute;
    cursor: pointer;
}

.option i {
    position: relative;
    z-index: 2;
}

.option i:hover {
    color: #ff0000;
}

.option.scissors {
    left: 220px;
    top: 0px;
    font-size: 300%;
}

.option.paper {
    top: 130px;
    right: 90px;
    font-size: 300%;
}

.option.rock {
    right: 160px;
    bottom: 70px;
    font-size: 300%;
}

.option.lizard {
    left: 140px;
    bottom: 70px;
    font-size: 300%;
}

.option.spock {
    top: 130px;
    left: 70px;
    font-size: 300%;
}

/* Chosen Section */

.chosen {
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 20px;
    text-align: center;
}

.chosen p {
    font-size: 200%;
    margin-bottom: 70px;
    line-height: 1;
}

.chosen .option {
    height: 300px;
    width: 300px;
    position: static;
}

.chosen .option i {
    width: 100px;
}

.selected {
    align-items: center;
    height: 100%;
    width: 50%;
}

/* Results */

.result {
    font-size: 200%;
    white-space: nowrap;
}

.result .result-title {
    font-size: 300%;
    margin-top: 60px;
    margin-bottom: 20px;
}

.result button {
    border-radius: 15px;
    padding: 20px;
    border: 2px solid #ff0000;
    background-position: right bottom;
}


